In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv('data/faithful.csv')
df.head()

   eruption  waiting
0     3.600       79
1     1.800       54
2     3.333       74
3     2.283       62
4     4.533       85